{% extends "rss/base.html" %}

{% block content %}

{% if feed %}
    <h2>{{ feed.feed.title }}</h2>
    <p>________________________________________________________________________</p>
    {% if feed.entries %}
        {% for entry in feed.entries %}
            <h5>Headline: {{ entry.title }}</h5>
            <p>Description: {{ entry.description }}</p>
            <a href={{ entry.link }}>Visit Link</a>
            <p>Published on {{ entry.published }}</p>
            <p>________________________________________________________________________</p>
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock content %}